.container-one{
    width:900px;
    padding:12px;
    display:flex;
    align-items: flex-end;
    justify-content: start;
    box-shadow:30px 30px rgb(245, 245, 245);
    background-color: white;
}


.container-one img{
    width:200px;
    height:70px;
}


.container-one span{
    text-wrap:wrap;
}