.container-three{
    display:flex;
    flex-direction:column;
    background-color: white;
    width:600px;
    height:700px;
    padding:10px;
    box-shadow:0 0 10px #ccc;
    margin-bottom:20px;
}

button{
    cursor:pointer;
}

.container-three h2{
    margin-bottom: 10px;
}

.register-container{
    display:flex;
    flex-direction: column;
    background-color: rgb(207, 207, 207);
    margin-bottom: 20px;
    height:410px;
}

.register,.login,.remainder{
    display:flex;
    width:inherit;
    height:25px;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}

.register>p,.remainder>p,.login>p{
    margin-left: 10px;
}

.impcont{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
     width:200px;
}

.red-color{
    width:3px;
    height:10px;
    background-color: red;
}
.red-color-imp{
    width:3px;
    height:25px;
    background-color: red;
}

.application-form{
    margin-top: 10px;
    height:400px;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.labels-all{
    width:300px;
    height:inherit;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    row-gap: 19px;
}

.label-details{
    width:300px;
    height:inherit;
    display:flex;
    flex-direction: column;
    align-items: start;
    margin-left: 5px;
    row-gap: 10px;
}

.label-details .right-details{
    display:flex;
    column-gap: 5px;
}


.label-four,.label-six{
    margin-left:10px;
}

.application-details{
    width:inherit;
    height:300px;
    display:flex;
}

.application-form input{
    width:200px;
    height:25px;
}

.application-form select{
    width:55px;
    height:25px;
}

.grey-border{
    margin-top:8px;
    width:100%;
    height:2px;
    background-color: grey;
    margin-bottom: 8px;
}


.register-button{
    width:100px;
    height:30px;
    background-color: rgb(52, 52, 255);
    color:white;
    border:0px;
}

.login-container{
    width:100%;
    height:200px;
    margin-bottom: 10px;
    background-color: rgb(207, 207, 207);
}


.inp-log{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}


.inp-log input{
    width:200px;
    height:25px;
}

.inp-log button{
    margin-left:20px;
    width:80px;
    height:25px;
}

.remainder-container{
    width:100%;
    height:200px;
    margin-bottom: 10px;
    background-color: rgb(207, 207, 207);
}
.inp-rem{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}


.inp-rem input{
    width:200px;
    height:25px;
}


.inp-rem button{
    margin-left:20px;
    width:80px;
    height:25px;
}

.login-container p,.remainder-container p{
    margin-bottom:7px;
}


.container-three p{
    margin-bottom:5px;
}

.container-three p span a{
    text-decoration: none;
}

label:last-child{
    margin-top:-10px;
}
