.container-one{
    width:945px;
    padding:12px;
    display:flex;
    align-items: flex-end;
    justify-content: start;
    box-shadow:0 0 10px #ccc;
    background-color: white;
}


.container-one img{
    width:200px;
    height:70px;
}


.container-one span{
    text-wrap:wrap;
}